<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
    <setting name="logImpl" value="SLF4J"/>
</settings>
    <mappers>
        <mapper resource="jobboy/mapper/AnnouncementMapper.xml"/>
        <mapper resource="jobboy/mapper/Ctf_rpMapper.xml"/>
        <mapper resource="jobboy/mapper/JobMapper.xml"/>
        <mapper resource="jobboy/mapper/OrderMapper.xml"/>
        <mapper resource="jobboy/mapper/TalkMapper.xml"/>
        <mapper resource="jobboy/mapper/UserMapper.xml"/>
    </mappers>
</configuration>