<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
    <setting name="logImpl" value="SLF4J"/>
</settings>
    <mappers>
        <mapper resource="jobboy/mapper/CertifyMapper.xml"/>
        <mapper resource="jobboy/mapper/CommentsMapper.xml"/>
        <mapper resource="jobboy/mapper/JobsMapper.xml"/>
        <mapper resource="jobboy/mapper/MessagesMapper.xml"/>
        <mapper resource="jobboy/mapper/OrdersMapper.xml"/>
        <mapper resource="jobboy/mapper/UsertMapper.xml"/>
        <mapper resource="jobboy/mapper/ReportsMapper.xml"/>
    </mappers>
</configuration>