<!doctype html>
<html lang="en">
<head>
<link rel="shortcut icon" href="favicon.ico">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>西农学生兼职平台</title>

<link href="../../resources/css/wstyle.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../resources/css/layui.css" media="all">
<script src="../../resources/js/jquery-1.9.1.min.js"></script>
<!-- <script src="js/common.js"></script> -->
<script src="../../resources/js/parallax.js"></script>
<!--[if IE 6]>
	<script type="text/javascript" src="../../resources/js/DD_belatedPNG.js"></script><![endif]-->
<!--[if IE 6]>
<script type="text/javascript">
 DD_belatedPNG.fix("../../resources/img);
</script>
<![endif]-->
</head>
<body>
<!-- <div class="load" id="load">
	<div id="loadInside" style="display:none;">
		<p><img src="" data-src="../../resources/imgload_2.png" alt="微一微信" /></p>
		<p id="loadImg" style="width: 0;"><img src="" data-src="../../resources/imgload.png" alt="微一微信" /></p>
		<p class="loadTxt"><span id="loadTxt">0</span>%</p>
	</div>
	<p><img src="../../resources/imgloading.gif" alt=""></p>
	<div class="load_bg"></div>
</div> -->
<div class="wrapHeader">
	<div class="header" style="background-color: #696969">
		<h1 class="logo"><a href="/"><img src="../../resources/img/logo1.png" style="height: 60px;margin-left:200px "/></a></h1>
		<ul class="nav">
			<li><a href="/">首页</a></li>
			<li><a href="/work">求职/招聘</a></li>
			<li><a href="javascript:void(0)">投诉/举报</a></li>
			</ul>
        <ul class="nav" align="right" style="font-size: 16px;">
			<li>
			<a href="/login">注册登录</a></li>
			</ul>
	</div>
</div>
<ul class="fixedNav">
	<li class="cur">
		<em class="icon"></em>
		<span class="txt">首&nbsp;&nbsp;&nbsp;&nbsp;页</span>
	</li>
	<li>
		<em class="icon"></em>
		<span class="txt">功能体系</span>
	</li>
	<li>
		<em class="icon"></em>
		<span class="txt">兼职平台</span>
	</li>
	<li>
		<em class="icon"></em>
		<span class="txt">兼职岗位</span>
	</li>
	<li>
		<em class="icon"></em>
		<span class="txt">核心价值</span>
	</li>
	<li >
		<em class="icon"></em>
		<span class="txt">联系我们</span>
	</li>
</ul>
<div class="wrapBox" id="wrapBox">
	<div class="box b1_bg">
		<div class="load">
			<p><img src="../../resources/img/loading.gif" alt=""></p>
			<div class="load_bg"></div>
		</div>
		<div class="box_bg box1_bg zIndex40"><img src="../../resources/img/b1_bg.jpg" data-src="../../resources/img/b1_bg.jpg" alt=""></div>
		<div class="box_fixed b1_fixed">
			<div class="b1_01 zIndex50"><img src="../../resources/img/b1_01.png" data-src="../../resources/img/b1_01.png" alt="" /></div>
			<div class="b1_02"><img src="../../resources/img/b1_02.png" data-src="../../resources/img/b1_02.png" alt="" /></div>
			<div class="b1_03">
				<h2 style="height: 60px;font-size: 30px;font-weight: bold;color: #666;">为西农学生服务的一站式兼职平台</h2>
	            <br>
				<label class="clfea005" style="font-size: 24px;text-align: left;">工作好.选择多.有保障</label>
				<br>
				<a href="javascript:void(0)" title="开始体验" class="b1_03_btn"><img src="" data-src="../../resources/img/b1_03_btn.png" alt="" /></a>
			</div>
		</div>
		<div class="b1_04 zIndex40"><img src="../../resources/img/b1_04.png" data-src="../../resources/img/b1_04.png" alt="" /></div>
	</div>
	<div class="box b2_bg">
		<div class="load">
			<p><img src="../../resources/img/loading.gif" alt=""></p>
			<div class="load_bg"></div>
		</div>
		<div class="box_bg box2_bg" style="background-color: #FFFFFF"><!--<img src="" data-src="../../resources/imgb2_bg.jpg" alt="">--></div>
		<div class="box_fixed b2_fixed">
			<div class="b2_01"><img src="" data-src="../../resources/img/b2_01.png" alt="" /></div>
			<h2 class="b2_02">西农学生平台企业入驻服务</h2>
			<p class="b2_07" align="center">
			    <img src="" data-src="../../resources/img/rz.png" alt="" />
			    <br />
			    企业资格认证<br /><br />
			    <img src="" data-src="../../resources/img/yh.png" alt="" />
			    <br />
				招聘信息发布<br /><br />
				<img src="" data-src="../../resources/img/gt.png" alt="" />
				<br />
				IM实时沟通<br /><br />
				<img src="" data-src="../../resources/img/pp.png" alt="" />
				<br />
				人才精准匹配
			</p>
			<div class="b2_03 zIndex40"><img src="" data-src="../../resources/img/b2_03.png" alt="" /></div>
			<div class="b2_04 zIndex40"><img src="" data-src="../../resources/img/b2_04.png" alt="" /></div>
			<div class="b2_05 zIndex40"><img src="" data-src="../../resources/img/b2_05.png" alt="" /></div>
			<div class="b2_06 zIndex50"><img src="" data-src="../../resources/img/b2_06.png" alt="" /></div>
		</div>
	</div>
	<div class="box b3_bg">
		<div class="load">
			<p><img src="../../resources/img/loading.gif" alt=""></p>
			<div class="load_bg"></div>
		</div>
		<div class="box_bg box3_bg"><img src="" data-src="../../resources/img/b3_bg.jpg" alt=""></div>
		<div class="box_fixed b3_fixed">
			<div class="b3_tl box_tl">
				<h2>强大而完善的<span class="clfea005">功能体系</span>，全面保障西农学生权益！</h2>
				<p>A powerful and perfect functional system to fully protect the rights and interests of students in Xinong!</p>
			</div>
			<div class="b3_img"><img src="" data-src="../../resources/img/b3_01.png" alt="" /></div>
			<div class="b3_01 b3_txt">
				<strong>筛选工作</strong>
				<p>根据不同标签或关键字检索工作<br />
				返回最佳匹配的工作列表<br />
				全新舒畅的浏览体验</p>
			</div>
			<div class="b3_02 b3_txt">
				<strong>实时沟通</strong>
				<p>双方在线聊天，了解对方详细信息<br />
				在工作方面进行细致沟通</p>
			</div>
			<div class="b3_03 b3_txt">
				<strong>信誉互评</strong>
				<p>工单完成双方对对方表现互评<br />
				企业评价求职者工作态度、效率和质量等问题，新增求职者信誉记录<br />求职者评价企业薪水发放是否及时、有无扣薪等问题，新增企业信誉记录</p>
			</div>
			<div class="b3_04 b3_txt">
				<strong>支付工资</strong>
				<p>薪水分为线上支付和线下支付<br />
				线上支付受平台保护，平台全方位保障<br />
				线下工、商线下支付，平台不提供监管服务</p>
			</div>
			<div class="b3_05 b3_txt">
				<strong>联系方式</strong>
				<p>企业输入工作地点、内容、薪酬等基本信息<br />
				企业留下联系方式，方便沟通</p>
			</div>
			<div class="b3_06 b3_txt">
				<strong>工单形成</strong>
				<p>求职者接下工单<br />
				企业确认评估<br />
				求职方收到offer，工单生效</p>
			</div>
		</div>
	</div>

	<div class="box b4_bg">
		<div class="load">
			<p><img src="../../resources/img/loading.gif" alt=""></p>
			<div class="load_bg"></div>
		</div>
		<div class="box_bg box4_bg" style="background-color: #FFFFFF"></div>
		<div class="box_fixed b4_fixed">
			<div class="b4_txt_box"  align="center">
				<h2 class="b4_tl">
专业靠谱的兼职平台<br /><span style="font-size: 16px;">专业审核团队，资质优良商家入驻</span></h2>
				<div class="b4_txt b4_txt01">
				    <img src="" data-src="../../resources/img/rz.gif" alt="" style="width: 60px;" />
				    <br/>
					<strong>全部企业专业团队审核认证</strong>
					<p>资质认证，安全放心</p>
				</div>

				<div class="b4_txt b4_txt03">
				<img src="" data-src="../../resources/img/bz.gif" alt="" style="width: 60px;" />
				    <br/>
					<strong>直招职位全程介入监控督导</strong>
					<p>杜绝骗子，保证权益</p>
				</div>

				<div class="b4_txt b4_txt05">
				<img src="" data-src="../../resources/img/gz.gif" alt="" style="width: 60px;" />
				    <br/>
					<strong>工资保障平台体系维护</strong>
					<p>规避纠纷，完美体验</p>
				</div>
			</div>
			<div class="b4_01">
				<img src="" data-src="../../resources/img/yyzz.jpg" alt="" style="width: 380px;" />
				<p class="tl">企业上传营业执照认证</p>
			</div>
			<div class="b4_02">
				<img src="" data-src="../../resources/img/jg.jpg" alt="" style="width: 380px;"/>
				<p class="tl">平台全方位安全监管</p>
			</div>
		</div>
	</div>
	<div class="box b5_bg">
		<div class="load">
			<p><img src="../../resources/img/loading.gif" alt=""></p>
			<div class="load_bg"></div>
		</div>
		<div class="box_bg box5_bg"><img src="" data-src="../../resources/img/b5_bg.jpg" alt=""></div>
		<div class="box_fixed b5_fixed">
			<div class="b5_tl box_tl">
				<h2><span class="clfea005">海量灵活</span>兼职岗位</h2>
				<!-- <p>生成APP，可免输入网址直接浏览，支持Android与iOS，更多功能联系我们！</p> -->
			</div>
			<p class="b5_txt">各类工作，自由选择，放心申请</p>
			<div class="b5_01"><img src="" data-src="../../resources/img/jzxx.png" alt="" style="width: 350px;" /></div>
			<div class="b5_ico">
				<p class="b5_ico01">话务客服</p>
				<p class="b5_ico02">礼仪模特</p>
				<p class="b5_ico03">促销导购</p>
				<p class="b5_ico04">传单派发</p>
				<p class="b5_ico05">学生家教</p>
				<p class="b5_ico06">校园代理</p>
			</div>
		</div>
	</div>
	<div class="box b6_bg">
		<div class="load">
			<p><img src="../../resources/img/loading.gif" alt=""></p>
			<div class="load_bg"></div>
		</div>
		<div class="box_bg box6_bg"><img src="" data-src="../../resources/img/b6_bg.jpg" alt=""></div>
		<div class="box_fixed b6_fixed">
			<h2 class="b6_tl">核心价值<br /><span>Core Values</span></h2>
			<div class="b6_cont">
				<div class="b6_img"><img src="" data-src="../../resources/img/b6_img.png" alt="" /></div>
				<div class="b6_arrow">
					<em class="b6_arrow01"></em>
					<em class="b6_arrow02"></em>
				</div>
				<div class="b6_txt b6_txt01"><i></i>保障西农学生兼职权益</div>
				<div class="b6_txt b6_txt02"><i></i>提供西农学生兼职渠道</div>
				<div class="b6_txt b6_txt03"><i></i>校内找兼职伙伴不再难</div>
				<div class="b6_txt b6_txt04"><i></i>在线沟通企业，掌握工作详情</div>
				<div class="b6_txt b6_txt05"><i></i>和众多企业提供优质职位</div>
				<div class="b6_txt b6_txt06"><i></i>丰富社会阅历远离企业剥削</div>
				<div class="b6_txt b6_txt07"><i></i>足不出户看尽校周兼职</div>
			</div>
			<div class="b6_01"><img src="" data-src="../../resources/img/b6_01.png" alt="" /></div>
		</div>
	</div>
		<div class="box b7_bg">
		<div class="load">
			<p><img src="../../resources/img/loading.gif" alt=""></p>
			<div class="load_bg"></div>
		</div>
		<div class="box_bg box7_bg"><img src="" data-src="../../resources/img/b7_bg.jpg" alt=""></div>
		<div class="box_fixed b7_fixed">
			<div class="b7_tl box_tl">
				<h2><span class="clfea005">联系</span>我们</h2>
			</div>
			<div class="b7_contact">
				<strong class="clfea005 tel">400-000-0000</strong>
				<p class="service">
					<strong>在线客服</strong>
					<a href="#" target="_blank" class="qq qq01"></a>
					<a href="#" target="_blank" class="qq qq02"></a>
					<a href="#" target="_blank" class="qq qq03"></a>
				</p>
			</div>
			<div class="b7_bottom">
				<div class="b7_map">
					<p class="txt" style="font-size: 16px;"><strong class="clfea005 tel">招商、合作、平台入驻、在线咨询</strong></p>
					<style type="text/css">
						html,body{margin:0;padding:0;}
						.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
						.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
					</style>
					<div class="../../resources/img" style="width:400px;height:290px;border:#ccc solid 1px;" id="dituContent">
					<img src="../../resources/img/qy.png" style="width: 400px;height: 290px;"></img>
					</div>
				</div>
				<div class="b7_msg">
				<script>
				function ajax_sub(){
					var name=$('#username').val();
					var tel=$('#tel').val();
					var company=$('#company').val();
					var content=$('#content').val();
					if(name==""){
						$('#username').attr("placeholder", "请输入联系人");
						$('#username').focus();
						$('#username').select();
						return false;
					}
					if(tel==""){
						$('#tel').attr("placeholder", "请输入手机号码");
						$('#tel').focus();
						$('#tel').select();
						return false;
					}	
					if(tel){
						var tel=$("input[name=tel]").val();
						var me = false;
						var reg0 = /^13\d{9}$/;
						var reg1 = /^153\d{8}$/;
						var reg2 = /^159\d{8}$/;
						var reg3 = /^15\d{9}$/;
						var reg4 = /^18\d{9}$/;
						var my = false;
						if (reg0.test(tel))my=true;
						if (reg1.test(tel))my=true;
						if (reg2.test(tel))my=true;
						if (reg3.test(tel))my=true;
						if (reg4.test(tel))my=true;
						if (!my){
							$('#tel').val('');
							$('#tel').attr("placeholder", "手机号码输入有误，请重新输入");
							$('#tel').focus();
							$('#tel').select();
							return false;
						}
					}

					if(company==""){
						$('#company').attr("placeholder", "请输入公司名称");
						$('#company').focus();
						$('#company').select();
						return false;
					}
					if(content==""){
						$('#content').attr("placeholder", "请输入详细内容");
						$('#content').focus();
						$('#content').select();
						return false;
					}
					$("#msg").show().html('<img src="../../resources/img/loading.gif">');
					
					$.post('index.php?g=Home&m=Index&a=csend',{username:name,tel:tel,company:company,content:content},function(json){
						if(json==0){
							$('#username').val('');
							$('#tel').val('');
							$('#company').val('');
							$('#content').val('');
							$("#msg").show().html("<font color='#FF0000'>对不起，每天只能提交3次！</font>").fadeOut(2500);
						}else if(json==1){
							$("#msg").show().html("<font color='#FF0000'>请正确输入信息！</font>").fadeOut(2500);
						}else if(json==2){
							$('#username').val('');
							$('#tel').val('');
							$('#company').val('');
							$('#content').val('');
							$("#msg").show().html("<font color='#FF0000'>提交成功，我们会尽快电话联系您！</font>").fadeOut(2500);
						}else{
							$('#username').val('');
							$('#tel').val('');
							$('#company').val('');
							$('#content').val('');
							$("#msg").show().html("<font color='#FF0000'>提交失败，请重试！</font>").fadeOut(2500);
						}

					},'json');
					
				}
				</script>
					<h4>留言<span> / Message</span></h4>
					<div class="row">
						<input type="text" name="username" id="username" class="name" maxlength="20" placeholder="联系人">
						<input type="text" name="tel" id="tel" maxlength="15" placeholder="手机">
					</div>
					<div class="row">
						<input type="text" name="company" id="company" class="companyName" maxlength="20" placeholder="公司名称">
					</div>
					<div class="row">
						<textarea name="content" id="content" cols="30" rows="10" placeholder="详细内容"></textarea>
					</div>
					<div>
					<a href="javascript:void(0)" class="btn" onClick="ajax_sub()" style="float:left">提交</a>
					<span id="msg" style="float:left;margin-left:5px"></span>
					</div>
				</div>
			</div>
			<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
                    <td style="height: 120px;">
                    </td>
            </tr>
            <tr>
                    <td align="center" class="copyright" style="color: #FFFFFF !important;height: 40px">
                            Copyright &copy; 2018  版权所有：西农学生兼职平台
                    </td>
            </tr>
           </table>
		</div>

	</div>
	
</div>
<script>
//document.body.style.overflow = 'hidden';
var ie6 = !-[1,]&&!window.XMLHttpRequest;
ie6 || loadImg.init();
</script>
<script type="text/javascript" src="../../resources/js/audio.js"></script>
 <script>
			window.addEventListener("DOMContentLoaded", function(){
				playbox.init("playbox");
			}, false);
		</script>

		<span id="playbox" class="btn_music" onClick="playbox.init(this).play();">
		<audio src="1.mp3" loop id="audio"></audio></span>
		<script>
		playbox.init(document.getElementById('playbox')).play();
</script>
</body>
</html>

