<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jobboy.mapper.TalkMapper">
  <resultMap id="BaseResultMap" type="jobboy.po.Talk">
    <constructor>
      <idArg column="tk_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="get_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="send_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tk_time" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="tk_content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tk_grade" javaType="java.lang.Float" jdbcType="REAL" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    tk_id, get_id, send_id, order_id, tk_time, tk_content, tk_grade
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from talk
    where tk_id = #{tkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from talk
    where tk_id = #{tkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="jobboy.po.Talk">
    insert into talk (tk_id, get_id, send_id, 
      order_id, tk_time, tk_content, 
      tk_grade)
    values (#{tkId,jdbcType=INTEGER}, #{getId,jdbcType=INTEGER}, #{sendId,jdbcType=INTEGER}, 
      #{orderId,jdbcType=INTEGER}, #{tkTime,jdbcType=DATE}, #{tkContent,jdbcType=VARCHAR}, 
      #{tkGrade,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="jobboy.po.Talk">
    insert into talk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tkId != null">
        tk_id,
      </if>
      <if test="getId != null">
        get_id,
      </if>
      <if test="sendId != null">
        send_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="tkTime != null">
        tk_time,
      </if>
      <if test="tkContent != null">
        tk_content,
      </if>
      <if test="tkGrade != null">
        tk_grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tkId != null">
        #{tkId,jdbcType=INTEGER},
      </if>
      <if test="getId != null">
        #{getId,jdbcType=INTEGER},
      </if>
      <if test="sendId != null">
        #{sendId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="tkTime != null">
        #{tkTime,jdbcType=DATE},
      </if>
      <if test="tkContent != null">
        #{tkContent,jdbcType=VARCHAR},
      </if>
      <if test="tkGrade != null">
        #{tkGrade,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jobboy.po.Talk">
    update talk
    <set>
      <if test="getId != null">
        get_id = #{getId,jdbcType=INTEGER},
      </if>
      <if test="sendId != null">
        send_id = #{sendId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="tkTime != null">
        tk_time = #{tkTime,jdbcType=DATE},
      </if>
      <if test="tkContent != null">
        tk_content = #{tkContent,jdbcType=VARCHAR},
      </if>
      <if test="tkGrade != null">
        tk_grade = #{tkGrade,jdbcType=REAL},
      </if>
    </set>
    where tk_id = #{tkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="jobboy.po.Talk">
    update talk
    set get_id = #{getId,jdbcType=INTEGER},
      send_id = #{sendId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      tk_time = #{tkTime,jdbcType=DATE},
      tk_content = #{tkContent,jdbcType=VARCHAR},
      tk_grade = #{tkGrade,jdbcType=REAL}
    where tk_id = #{tkId,jdbcType=INTEGER}
  </update>
</mapper>